# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env

# Ignore compiled or built files
/build/
/dist/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore Visual Studio Code settings
.vscode/
